<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css">
    <link rel="stylesheet" href="assets/css/navigation.css">
    <link rel="stylesheet" href="assets/css/pages/index.compiled.css">
    <link rel="stylesheet" href="assets/css/style.compiled.css">
<link rel="icon" href="favicon.png" />
</head>

<body>
    <!-- Start: Navigation Clean -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="#" style="font-size: 22px;color: rgb(53,35,26);"><img src="assets/img/logo.png" style="width: 32px;height: 32px;margin-right: 5px;">Chess Game</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/" style="font-weight: normal;"><i class="fas fa-home" style="margin-right: 5px;font-size: 20px;"></i>Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="font-weight: normal;"><i class="fas fa-info-circle" style="font-size: 20px;margin-right: 5px;"></i>About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="font-weight: normal;"><i class="fas fa-comment-dots" style="font-size: 20px;margin-right: 5px;"></i>Feedback</a></li>
                </ul>
            </div>
        </div>
    </nav><!-- End: Navigation Clean --><input type="hidden" id="CsrfParam" value="{{CsrfParam}}" style="display: none;" name="CsrfParam">
    <div class="main-wrapper">
        <div class="container">
            <div class="row flex-center flex-column">
                <div class="col" style="padding: 24px;text-align: center;"><img class="logo-header animate__animated animate__fadeInDown" src="assets/img/logo.png" style="width: 150px;height: 150px;text-shadow: 0px 0px;"></div>
            </div>
            <div class="row justify-content-center">
                <div class="col" style="text-align: center;padding: 4px;"><button class="btn btn-primary btn-menu shadow-none animate__animated animate__rotateInDownLeft" id="btnNewGame" type="button"><span class="common-btn-label new-game-btn-label"><i class="fas fa-play-circle"></i></span>New game</button></div>
            </div>
            <div class="row justify-content-center">
                <div class="col" style="text-align: center;padding: 4px;"><button class="btn btn-primary btn-menu shadow-none animate__animated animate__rotateInDownRight" id="btnJoinGame" type="button"><span class="common-btn-label join-game-btn-label"><i class="fas fa-plus-circle"></i></span>Join a game</button></div>
            </div>
        </div>
    </div>
    <div class="join-game-modal">
        <div class="modal fade animate__animated animate__pulse" role="dialog" tabindex="-1" id="modalJoinGame">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content custom-modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modalJoinGameTitle">Modal Title</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col"><input type="text" data-bs-toggle="tooltip" data-bss-tooltip="" id="joinGameCodeInput" class="join-game-code-input" title="Type your game code here" placeholder="Game Code"></div>
                            <div class="col"><select data-bs-toggle="tooltip" data-bss-tooltip="" id="joinGamePlayAs" class="join-game-play-as" title="Select your color">
                                    <option value="-1" selected="">Join as</option>
                                    <option value="0">White</option>
                                    <option value="1">Black</option>
                                </select></div>
                        </div>
                        <div class="row" id="joinGamePinCodeRow">
                            <div class="col"><input type="password" data-bs-toggle="tooltip" data-bss-tooltip="" id="joinGamePinCode" class="join-game-pin-code" title="Type your game code here (if resuming)" required="" minlength="4" maxlength="4" placeholder="Enter pin code (if resuming)"></div>
                        </div>
                    </div>
                    <div class="modal-footer"><button class="btn btn-secondary close-btn-modal shadow-none" type="button" data-bs-dismiss="modal">Close</button><button class="btn btn-primary btn-modal shadow-none" id="btnGameCodeSubmit" type="button">Join</button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="toast-container position-absolute p-3 top-0 end-0">
        <div class="toast hide" role="alert" data-bs-animation="false" id="notificationToast">
            <div class="toast-header"><i class="fas fa-bell me-2" style="font-size: 16px;"></i><strong class="me-auto" id="notificationToastTitle">Title</strong><button class="btn-close ms-2 mb-1 close" data-bs-dismiss="toast"></button></div>
            <div class="toast-body" role="alert">
                <p id="notificationToastText">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
            </div>
        </div>
    </div><!-- Start: Footer Basic -->
    <footer class="footer-basic">
        <!-- Start: Social Icons -->
        <div class="social animate__animated animate__fadeInUp"><a id="facebook" href="https://www.facebook.com/TechLearnersInc"><i class="fab fa-facebook-f"></i></a><a id="linkedin" href="https://www.linkedin.com/company/techlearners"><i class="fab fa-linkedin-in"></i></a><a id="youtube" href="https://www.youtube.com/c/TechLearnersInc"><i class="fab fa-youtube"></i></a><a id="github" href="https://github.com/TechLearnersInc"><i class="fab fa-github"></i></a><a id="telegram" href="https://t.me/TechLearners"><i class="fab fa-telegram-plane"></i></a></div><!-- End: Social Icons -->
        <!-- Start: Links -->
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Home</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
        </ul><!-- End: Links -->
        <!-- Start: Copyright -->
        <p class="copyright">Techlearners © 2021</p><!-- End: Copyright -->
    </footer><!-- End: Footer Basic -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js" integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD" crossorigin="anonymous"></script>
    <script src="assets/js/pages/index/index.js"></script>
</body>

</html>